body {
	margin: 0;
	font-size: 14px; 
	font-family: "Sans Serif";
	font-weight: normal;
	font-style: normal;
}

p {
	margin: 0;
	padding: 0;
	text-align: center;
}

.header {
	height: 60px;
	background: #FF3025;
	border-style: none;
}

.content {
	margin: 20px 0 0;
	border-style: none;
	font-size: 22px;
}

table {
	margin: 10px auto;
	padding: 10px;
	border: 1px solid #000;
}

table tr td hr {
	height: 0.15em;
	background: #000;
}
