body {
	margin: 0;
	font-family: "Sans Serif";
	font-size: 16px;
}

p {
	margin: 0;
	text-align: center;
}

.content {
	margin: 1.25em 0;
	font-size: 1.375em;
}

div div.content	{
	font-size: 0.75em;
}

.pad-section-1 {
	padding: 0.625em 0;
}

.pad-section-2 {
	padding: 1.25em 0;
}

.pad-section-3 {
	padding: 1.875em 0;
}

.pad-section-4 {
	padding: 2.5em 0;
}

.pad-section-5 {
  padding: 3.15em 0;
}

.pad-section-6 {
	padding: 3.75em 0 0;
}

.bold {
	font-weight: 600;
}
